@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}


html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #000000;

}

img {
  /* нормализация тега IMG */
  max-width: 100%;
  object-fit: contain;
}

.main-page,
.main-inner {
  flex-grow: 1;
  /* делаем MAIN жадным через свойство flex-grow; реализуем sticky-footer */
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  top: 0;
  left: 0;
}

/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----БЛОК НАВИГАЦИИ -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----*/

.navigation-container {
  display: flex;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFE17F;
  margin-top: 40px;
}

.navigation {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 1040px;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}

.logo-line {
  /* grid track number 1 */
  display: flex;
}

.user-line {
  /* grid track number 2 */
  display: flex;
  background-color: rgb(218, 131, 184);
}

.site-search-form {
  display: flex;
  align-items: center;
  width: 517px;
  padding: 0;
  margin: 0;
  margin-right: 26px;
}

.search-line {
  height: 40px;
  width: 359px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: 2px solid #000000;
  background-color: transparent;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-button {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 20px;
  font-size: 16px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px solid #000000;
  border-left: 0;
  background-color: transparent;
  padding: 10px 56px;
  box-sizing: border-box;
}

.user-actions-container {
  /* flex контейнер для  |- ИмяЮзера/Вход -|- Выйти -|- Сравнить -|- Корзина -|  */
  display: flex;
  justify-content: space-between;
  background-color: darkorchid;
  flex-grow: 1;
  flex-wrap: wrap;
}

.enter-user-container {
  display: flex;
  max-width: 147.5px;
  margin-right: 26.5px;
  align-items: center;
  flex-wrap: wrap;
}

.user-list {
  display: flex;
  flex-direction: row-reverse;
  max-width: 322.5px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.user-item {
  display: flex;
  align-items: center;
  margin-right: 26.5px;
}

.user-item:nth-child(1) {
  margin-right: 0;
}

.user-item:nth-child(2) {
  margin-right: 36px;
}


.user-link {
  text-decoration: none;
  color: #000000;
}

.navigation-line {
  /* grid track number 3 */
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
}

.catalog-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 236px;
  background-color: aquamarine;
  flex-wrap: wrap;
}

.catalog-link {

  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.catalog-link::before {
  content: '';
  position: absolute;
  left: 243px;
  top: -14.85px;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/circle-plus-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.catalog-link:hover::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("../images/circle-minus-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.navigation-list {
  display: flex;
  flex-direction: row-reverse;
  max-width: 702px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.navigation-item {
  display: flex;
  margin-right: 45px;
}

.navigation-item:first-child {
  margin-right: 0;
}

.catalog-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.navigation-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}


/*-↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-------------------БЛОК НАВИГАЦИИ ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑--------*/



.main-page {
  /*режем весь main на 6 рядов  */
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  width: 100%;
  gap: 70px;
}




/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ HERO БЛОК -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/


.slider-container {
  position: relative;
  display: flex;
  min-height: 560px;
  width: 1160px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top, transparent 71.804511%, #FFE17F 28.195488%);
}

.slider-content {
  display: none;
  grid-template-columns: 560px 560px;
  width: 1160px;
  gap: 40px;
  line-height: 10px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInFromNone 0.6s ease-in-out;
  /*контент слайда плавно "проявляется" за 0.6 сек.*/
}

@keyframes fadeInFromNone {

  /* анимация плавного появления слайда через  transition не работает =( , поэтому используем здесь технику @keyframes */
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: grid;
    opacity: 0;
  }

  100% {
    display: grid;
    opacity: 1;
  }
}


.hero-number {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 180px;
  line-height: 135px;
  color: #FFFFFF;
  padding-right: 49px;
  margin-top: 29px;
  flex-wrap: wrap;
}

.hero-title {
  display: flex;
  margin: 0;
  margin-top: -40px;
  margin-bottom: 29px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  flex-wrap: wrap;
}

.hero-details {
  display: grid;
  width: 560px;
  grid-template-rows: auto auto auto;
  justify-items: start;
  align-items: center;
  gap: 50px;
}

.hero-description {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 40px;
  border: 2px solid #FFFFFF;
  background: linear-gradient(to bottom, #FFFFFF 40%, #FFE17F 40%, #FFE17F 60%, #FFFFFF 60%);
  padding: 0 37px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  outline: none;
  flex-wrap: wrap;
}

.details-btn:hover {
  background: #FFE17F;
}

.details-btn:active {
  background: #FFCC33;
}

.details-btn:focus-visible {
  border: 2px solid #AF4FFF;
  background: linear-gradient(to bottom, #FFFFFF 40%, #FFE17F 40%, #FFE17F 60%, #FFFFFF 60%);
}

.details-btn:disabled {
  opacity: 0.3;
}

.hero-parameters-01 {
  display: grid;
  grid-template-columns: 141px 147px;
  grid-template-rows: auto auto;
  width: 305px;
  gap: 12px 20px;
}

.hero-parameters-02 {
  display: grid;
  grid-template-columns: 155px;
  grid-template-rows: auto auto;
  width: 155px;
  gap: 12px;
}

.hero-parameters-03 {
  display: grid;
  grid-template-columns: 99px 79px 128px;
  grid-template-rows: auto auto;
  width: 386px;
  gap: 12px 40px;
}

.value {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
}

.parameter {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.slider-check + .slider-label {
  position: absolute;
  height: 12px;
  width: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slider-check {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-sizing: border-box;
  opacity: 0;
}

.slider-check.first,
.slider-label.first {
  top: 548px;
  left: 542px;
}

.slider-check.second,
.slider-label.second {
  top: 548px;
  left: 574px;
}

.slider-check.third,
.slider-label.third {
  top: 548px;
  left: 606px;
}

.slider-check:checked + .slider-label {
  background: #000000;
}

.slider-check:hover + .slider-label {
  opacity: 0.6;
}

.slider-check:active + .slider-label {
  opacity: 0.3;
}

.slider-check:checked + .slider-label + .slider-content {
  display: grid;
}

.slider-btn {
  position: absolute;
  display: flex;
  height: 66px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: 20px 60px;
  border: 0;
  cursor: pointer;
  outline: none;
}

.left {
  top: 209px;
  left: 28px;
  background-image: url("../images/left-btn.svg");
}

.right {
  top: 209px;
  left: 538px;
  background-image: url("../images/right-btn.svg");
}

.slider-btn:hover {
  opacity: 0.6;
}

.slider-btn:active {
  opacity: 0.3;
}

.slider-btn:focus-visible {
  border: 2px solid #AF4FFF;
}

.slider-btn:disabled {
  opacity: 0.1;
}

/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ----------- HERO БЛОК ----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------- PRODUCT DIRECTIONS -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ----------*/
.line2-directions-list {
  display: grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px;
  grid-template-rows: 160px auto;
  grid-auto-flow: column dense;
  gap: 32px 40px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  padding: 0;
}

.directions-item:nth-child(odd) {
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
}

.directions-item:nth-child(3) {
  align-items: flex-end;
}

.directions-item {
  display: flex;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  padding: 0;
  margin: 0;
  background-color: #FFFFFF;
  flex-wrap: wrap;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ --------- PRODUCT DIRECTIONS --------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------ SERVICES -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ------------*/
.services-container {
  display: flex;
  min-height: 391px;
  width: 100%;
  background: linear-gradient(to top, #929292 71.804511%, #FFE17F 28.195488%);
}




/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ------------ SERVICES ----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------- CUSTOM DELIVERY --------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----------*/
.line4-custom-delivery {
  display: grid;
  grid-template-columns: 125px auto 125px;
  grid-template-rows: auto;
  gap: 125px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F0F0F0;
}

.class1 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/delivery-icon.svg");
  background-size: 47px 31px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #FFE17F;
}

.class2 {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 38.26px 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 23.48px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: #F0F0F0;
}

.class3 {
  display: flex;
  flex-direction: column;
  background-image: url("../images/info-icon.svg");
  background-size: 40px 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #F0F0F0;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ -------- CUSTOM DELIVERY ---------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------- ABOUT and CONTACTS -------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----------*/
.line5-about-contacts {
  display: grid;
  grid-template-columns: 520px 532px;
  grid-template-rows: 7px auto;
  gap: 47px 108px;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(201, 177, 228);
}

.line-black {
  display: block;
  background-color: #000000;
  width: 84px;
  height: 7px;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ -------- ABOUT and CONTACTS------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -------- SUBSCRIPTION -----------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ -----------*/
.line6-subscription {
  display: flex;
  background-color: #F0F0F0;
}


/*-------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ -------- SUBSCRIPTION----------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑-----------*/



/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------  F O O T E R   ------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓---------------------------*/

.footer-container {
  display: flex;
  width: 100%;
  background-color: #444444;
  padding-top: 62px;
  padding-bottom: 61px;
}

.footer {
  display: grid;
  grid-template-rows: auto auto auto;
  width: 1160px;
  gap: 35px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(129, 148, 201);
}


/*-----↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------------------- F O O T E R ------------------------↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑------------------------*/



/*-----↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓-------------------------  МОДАЛЬНОЕ  ОКНО  ----------------------------↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ --------------*/


.modal-delivery {
  display: grid;
  grid-template-rows: auto auto auto auto;
  width: 760px;
  gap: 42px;
  padding: 72px 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: aqua;
}

.modal-line1 {
  /* modal track number 1 */
  background-color: rgb(138, 219, 181);
}

.modal-line2 {
  /* modal track number 2 */
  display: flex;
  background-color: gray;
}

.modal-line3 {
  /* modal track number 3 */
  display: flex;
  background-color: rgb(180, 160, 182);
}

.modal-line4-button {
  /* modal track number 3 */
  display: flex;
  background-color: rgb(180, 160, 182);
}
